.par {
  height: auto;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(221, 190, 190);
}
.Nav_Container {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: flex-end;
}
.Heading{
  display: flex;
  flex-direction: column;
}
.Nav_items {
  display: flex;
  margin-left: 2vw;
  align-items: center;
  color: rgb(1, 1, 1);
}

.nav_names {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
@media screen and (max-width: 500px) {
  .par {
    flex-direction: column;
  }
  .nav_names {
    display: none;
  }
  .Nav_Container {
    margin-top: 1vh;
    justify-content: space-evenly;
  }
}
.content {
  text-align: center;
  font-size: 100px;
}
